.walkthroughPage{
    font-family: 'Poppins', sans-serif;
    max-width: 375px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    color: #341931;
}
.backgroundImage{
    width: initial;
    position: relative;
    bottom: 60px;
    right: 50px;
}
.crop{
    width: 375px;
    height: 377px;
    overflow: hidden;
}
.walkthroughText{
    grid-area: 2/1/3/2;
    text-align: center;
    padding: 0 20px;
}
.walkthroughText p {
    font-size: 15px;
    font-weight: 300;
}
