.BottomUl{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}
.BottomUl li{
    color: rgb(238,9,121);
    background-image: linear-gradient(90deg, #EE0979 0%, #FF6A00 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    font-size: 30px;
}
ion-icon[name="radio-outline"]{
    font-size: 40px;
    background: linear-gradient(90deg, #EE0979 0%, #FF6A00 100%);
    color: white;
    border-radius: 50px;
    padding: 10px;
}
.BottomNav{
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-width: 375px;
    left: 0px;
    right: 0px;
    background-color: white;
}
